*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(191, 44, 159);
    height: 5rem;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logoIcon{
    width: 44px;
    height: 44px;
}

#logoText{
    font-size: 1.5rem;
    color: white;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.icons{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.icons .material-symbols-outlined{
    color: white;
    font-size: 2rem;
}



#searchBox span{
    font-size: 1.2rem;
}

.searchInput{
    padding: 0.5rem;
    border: none;
    width: 100%;
    outline: none;
}

#searchHolder{
    width: 100%;
    max-width: 540px;
}

#searchBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    display: none;

}

.img1{
    width: 250px;
    height: 250px;
}

.product{
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
}

.product h3{
    font-size: 1.5rem;
}

.product img{
    width: 100%;
}

.product .rating{
    color: rgb(225, 175, 37);
    font-size: 1.25rem;
}

.product .price{
    font-size: 1rem;

}

.priceAndButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: rgb(38, 194, 38);
    color: white;
    border-radius: 0.5rem;
}

.productList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;

}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    .productList{
      
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
 
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {

    #menuButton{
        display: none;
    }

    #searchBox{
        display: block;
    }

}





